sfac-electron.dfx
Rscat_values.log
pdfs/*.pdf
logs/*.log
atomsMB_AVolkov/02He.plot
atomsMB_AVolkov/03Li.plot
atomsMB_AVolkov/04Be.plot
atomsMB_AVolkov/05B.plot
atomsMB_AVolkov/06C.plot
atomsMB_AVolkov/07N.plot
atomsMB_AVolkov/08O.plot
atomsMB_AVolkov/09F.plot
atomsMB_AVolkov/10Ne.plot
atomsMB_AVolkov/11Na.plot
atomsMB_AVolkov/12Mg.plot
atomsMB_AVolkov/13Al.plot
atomsMB_AVolkov/14Si.plot
atomsMB_AVolkov/15P.plot
atomsMB_AVolkov/16S.plot
atomsMB_AVolkov/17Cl.plot
atomsMB_AVolkov/18Ar.plot
atomsMB_AVolkov/19K.plot
atomsMB_AVolkov/20Ca.plot
atomsMB_AVolkov/21Sc.plot
atomsMB_AVolkov/22Ti.plot
atomsMB_AVolkov/23V.plot
atomsMB_AVolkov/24Cr.plot
atomsMB_AVolkov/25Mn.plot
atomsMB_AVolkov/26Fe.plot
atomsMB_AVolkov/27Co.plot
atomsMB_AVolkov/28Ni.plot
atomsMB_AVolkov/29Cu.plot
atomsMB_AVolkov/30Zn.plot
atomsMB_AVolkov/31Ga.plot
atomsMB_AVolkov/32Ge.plot
atomsMB_AVolkov/33As.plot
atomsMB_AVolkov/34Se.plot
atomsMB_AVolkov/35Br.plot
atomsMB_AVolkov/36Kr.plot
atomsMB_AVolkov/37Rb.plot
atomsMB_AVolkov/38Sr.plot
atomsMB_AVolkov/39Y.plot
atomsMB_AVolkov/40Zr.plot
atomsMB_AVolkov/41Nb.plot
atomsMB_AVolkov/42Mo.plot
atomsMB_AVolkov/43Tc.plot
atomsMB_AVolkov/44Ru.plot
atomsMB_AVolkov/45Rh.plot
atomsMB_AVolkov/46Pd.plot
atomsMB_AVolkov/47Ag.plot
atomsMB_AVolkov/48Cd.plot
atomsMB_AVolkov/49In.plot
atomsMB_AVolkov/50Sn.plot
atomsMB_AVolkov/51Sb.plot
atomsMB_AVolkov/52Te.plot
atomsMB_AVolkov/53I.plot
atomsMB_AVolkov/54Xe.plot
atomsMB_AVolkov/55Cs.plot
atomsMB_AVolkov/56Ba.plot
atomsMB_AVolkov/57La.plot
atomsMB_AVolkov/58Ce.plot
atomsMB_AVolkov/59Pr.plot
atomsMB_AVolkov/60Nd.plot
atomsMB_AVolkov/61Pm.plot
atomsMB_AVolkov/62Sm.plot
atomsMB_AVolkov/63Eu.plot
atomsMB_AVolkov/64Gd.plot
atomsMB_AVolkov/65Tb.plot
atomsMB_AVolkov/66Dy.plot
atomsMB_AVolkov/67Ho.plot
atomsMB_AVolkov/68Er.plot
atomsMB_AVolkov/69Tm.plot
atomsMB_AVolkov/70Yb.plot
atomsMB_AVolkov/71Lu.plot
atomsMB_AVolkov/72Hf.plot
atomsMB_AVolkov/73Ta.plot
atomsMB_AVolkov/74W.plot
atomsMB_AVolkov/75Re.plot
atomsMB_AVolkov/76Os.plot
atomsMB_AVolkov/77Ir.plot
atomsMB_AVolkov/78Pt.plot
atomsMB_AVolkov/79Au.plot
atomsMB_AVolkov/80Hg.plot
atomsMB_AVolkov/81Tl.plot
atomsMB_AVolkov/82Pb.plot
atomsMB_AVolkov/83Bi.plot
atomsMB_AVolkov/84Po.plot
atomsMB_AVolkov/85At.plot
atomsMB_AVolkov/86Rn.plot
atomsMB_AVolkov/87Fr.plot
atomsMB_AVolkov/88Ra.plot
atomsMB_AVolkov/89Ac.plot
atomsMB_AVolkov/90Th.plot
atomsMB_AVolkov/91Pa.plot
atomsMB_AVolkov/92U.plot
