ANIONS_FROM_PAPER_2/At_1_minus.out
ANIONS_FROM_PAPER_2/Br_1_minus.out
ANIONS_FROM_PAPER_2/Cl_1_minus.out
ANIONS_FROM_PAPER_2/F_1_minus.out
ANIONS_FROM_PAPER_2/I_1_minus.out
ANIONS_FROM_PAPER_2/O_1_minus.out
