ANIONS_FROM_PAPER_2/At_1_minus.out
ANIONS_FROM_PAPER_2/Br_1_minus.out
ANIONS_FROM_PAPER_2/Cl_1_minus.out
ANIONS_FROM_PAPER_2/F_1_minus.out
ANIONS_FROM_PAPER_2/I_1_minus.out
ANIONS_FROM_PAPER_2/O_1_minus.out
Ac_3_plus.out
Ag_1_plus.out
Ag_2_plus.out
Ag_3_plus.out
Al_1_plus.out
Al_3_plus.out
Am_2_plus.out
Am_3_plus.out
Am_4_plus.out
Am_5_plus.out
Am_6_plus.out
As_2_plus.out
As_3_plus.out
As_5_plus.out
At_1_plus.out
At_3_plus.out
At_5_plus.out
At_7_plus.out
Au_1_plus.out
Au_2_plus.out
Au_3_plus.out
Au_5_plus.out
B_1_plus.out
B_2_plus.out
B_3_plus.out
Ba_2_plus.out
Be_2_plus.out
Bh_7_plus.out
Bi_3_plus.out
Bi_5_plus.out
Bk_3_plus.out
Bk_4_plus.out
Br_1_plus.out
Br_3_plus.out
Br_4_plus.out
Br_5_plus.out
Br_7_plus.out
C_1_plus.out
C_2_plus.out
C_3_plus.out
C_4_plus.out
C_val.out
Ca_2_plus.out
Cd_2_plus.out
Ce_2_plus.out
Ce_3_plus.out
Ce_4_plus.out
Cf_2_plus.out
Cf_3_plus.out
Cf_4_plus.out
Cl_1_plus.out
Cl_2_plus.out
Cl_3_plus.out
Cl_4_plus.out
Cl_5_plus.out
Cl_6_plus.out
Cl_7_plus.out
Cm_3_plus.out
Cm_4_plus.out
Cn_2_plus.out
Co_1_plus.out
Co_2_plus.out
Co_3_plus.out
Co_4_plus.out
Co_5_plus.out
Cr_1_plus.out
Cr_2_plus.out
Cr_3_plus.out
Cr_4_plus.out
Cr_5_plus.out
Cr_6_plus.out
Cs_1_plus.out
Cu_1_plus.out
Cu_2_plus.out
Cu_3_plus.out
Cu_4_plus.out
Db_5_plus.out
Dy_2_plus.out
Dy_3_plus.out
Er_3_plus.out
Es_2_plus.out
Es_3_plus.out
Eu_2_plus.out
Eu_3_plus.out
Fe_1_plus.out
Fe_2_plus.out
Fe_3_plus.out
Fe_4_plus.out
Fe_5_plus.out
Fe_6_plus.out
Fm_2_plus.out
Fm_3_plus.out
Fr_1_plus.out
Ga_1_plus.out
Ga_2_plus.out
Ga_3_plus.out
Gd_1_plus.out
Gd_2_plus.out
Gd_3_plus.out
Ge_1_plus.out
Ge_2_plus.out
Ge_3_plus.out
Ge_4_plus.out
Hf_2_plus.out
Hf_3_plus.out
Hf_4_plus.out
Hg_1_plus.out
Hg_2_plus.out
Ho_3_plus.out
Hs_8_plus.out
I_1_plus.out
I_3_plus.out
I_5_plus.out
I_7_plus.out
In_1_plus.out
In_2_plus.out
In_3_plus.out
Ir_1_plus.out
Ir_2_plus.out
Ir_3_plus.out
Ir_4_plus.out
Ir_5_plus.out
Ir_6_plus.out
K_1_plus.out
Kr_2_plus.out
La_2_plus.out
La_3_plus.out
Li_1_plus.out
Lr_3_plus.out
Lu_3_plus.out
Md_2_plus.out
Md_3_plus.out
Mg_2_plus.out
Mn_1_plus.out
Mn_2_plus.out
Mn_3_plus.out
Mn_4_plus.out
Mn_5_plus.out
Mn_6_plus.out
Mn_7_plus.out
Mo_1_plus.out
Mo_2_plus.out
Mo_3_plus.out
Mo_4_plus.out
Mo_5_plus.out
Mo_6_plus.out
N_1_plus.out
N_2_plus.out
N_3_plus.out
N_4_plus.out
N_5_plus.out
Na_1_plus.out
Nb_2_plus.out
Nb_3_plus.out
Nb_4_plus.out
Nb_5_plus.out
Nd_2_plus.out
Nd_3_plus.out
Ni_1_plus.out
Ni_2_plus.out
Ni_3_plus.out
Ni_4_plus.out
No_2_plus.out
No_3_plus.out
Np_3_plus.out
Np_4_plus.out
Np_5_plus.out
Np_6_plus.out
Np_7_plus.out
O_1_plus.out
O_2_plus.out
Os_1_plus.out
Os_2_plus.out
Os_3_plus.out
Os_4_plus.out
Os_5_plus.out
Os_6_plus.out
Os_7_plus.out
Os_8_plus.out
P_1_plus.out
P_2_plus.out
P_3_plus.out
P_4_plus.out
P_5_plus.out
Pa_3_plus.out
Pa_4_plus.out
Pa_5_plus.out
Pb_2_plus.out
Pb_4_plus.out
Pd_2_plus.out
Pd_4_plus.out
Pm_3_plus.out
Po_2_plus.out
Po_4_plus.out
Po_6_plus.out
Pr_2_plus.out
Pr_3_plus.out
Pr_4_plus.out
Pt_2_plus.out
Pt_4_plus.out
Pt_5_plus.out
Pt_6_plus.out
Pu_3_plus.out
Pu_4_plus.out
Pu_5_plus.out
Pu_6_plus.out
Pu_7_plus.out
Ra_2_plus.out
Rb_1_plus.out
Re_1_plus.out
Re_2_plus.out
Re_3_plus.out
Re_4_plus.out
Re_5_plus.out
Re_6_plus.out
Re_7_plus.out
Rf_4_plus.out
Rh_1_plus.out
Rh_2_plus.out
Rh_3_plus.out
Rh_4_plus.out
Rh_5_plus.out
Rh_6_plus.out
Ru_1_plus.out
Ru_2_plus.out
Ru_3_plus.out
Ru_4_plus.out
Ru_5_plus.out
Ru_6_plus.out
Ru_7_plus.out
Ru_8_plus.out
S_1_plus.out
S_2_plus.out
S_3_plus.out
S_4_plus.out
S_5_plus.out
S_6_plus.out
Sb_3_plus.out
Sb_5_plus.out
Sc_1_plus.out
Sc_2_plus.out
Sc_3_plus.out
Se_2_plus.out
Se_4_plus.out
Se_6_plus.out
Sg_6_plus.out
Si_1_plus.out
Si_2_plus.out
Si_3_plus.out
Si_4_plus.out
Si_val.out
Sm_2_plus.out
Sm_3_plus.out
Sn_2_plus.out
Sn_4_plus.out
Sr_2_plus.out
Ta_2_plus.out
Ta_3_plus.out
Ta_4_plus.out
Ta_5_plus.out
Tb_1_plus.out
Tb_3_plus.out
Tb_4_plus.out
Tc_1_plus.out
Tc_2_plus.out
Tc_3_plus.out
Tc_4_plus.out
Tc_5_plus.out
Tc_6_plus.out
Tc_7_plus.out
Te_2_plus.out
Te_4_plus.out
Te_5_plus.out
Te_6_plus.out
Th_2_plus.out
Th_3_plus.out
Th_4_plus.out
Ti_2_plus.out
Ti_3_plus.out
Ti_4_plus.out
Tl_1_plus.out
Tl_3_plus.out
Tm_2_plus.out
Tm_3_plus.out
U_3_plus.out
U_4_plus.out
U_5_plus.out
U_6_plus.out
V_1_plus.out
V_2_plus.out
V_3_plus.out
V_4_plus.out
V_5_plus.out
W_1_plus.out
W_2_plus.out
W_3_plus.out
W_4_plus.out
W_5_plus.out
W_6_plus.out
Xe_2_plus.out
Xe_4_plus.out
Xe_6_plus.out
Xe_8_plus.out
Y_2_plus.out
Y_3_plus.out
Yb_2_plus.out
Yb_3_plus.out
Zn_2_plus.out
Zr_1_plus.out
Zr_2_plus.out
Zr_3_plus.out
Zr_4_plus.out
Ac.out
Ag.out
Al.out
Am.out
Ar.out
As.out
At.out
Au.out
B.out
Ba.out
Be.out
Bh.out
Bi.out
Bk.out
Br.out
C.out
Ca.out
Cd.out
Ce.out
Cf.out
Cl.out
Cm.out
Cn.out
Co.out
Cr.out
Cs.out
Cu.out
Db.out
Ds.out
Dy.out
Er.out
Es.out
Eu.out
F.out
Fe.out
Fl.out
Fm.out
Fr.out
Ga.out
Gd.out
Ge.out
He.out
Hf.out
Hg.out
Ho.out
Hs.out
I.out
In.out
Ir.out
K.out
Kr.out
La.out
Li.out
Lr.out
Lu.out
Lv.out
Mc.out
Md.out
Mg.out
Mn.out
Mo.out
Mt.out
N.out
Na.out
Nb.out
Nd.out
Ne.out
Nh.out
Ni.out
No.out
Np.out
O.out
Og.out
Os.out
P.out
Pa.out
Pb.out
Pd.out
Pm.out
Po.out
Pr.out
Pt.out
Pu.out
Ra.out
Rb.out
Re.out
Rf.out
Rg.out
Rh.out
Rn.out
Ru.out
S.out
Sb.out
Sc.out
Se.out
Sg.out
Si.out
Sm.out
Sn.out
Sr.out
Ta.out
Tb.out
Tc.out
Te.out
Th.out
Ti.out
Tl.out
Tm.out
Ts.out
U.out
V.out
W.out
Xe.out
Y.out
Yb.out
Zn.out
Zr.out
